@model IEnumerable<WebApplication3.Models.Game_mall>
@{
    ViewData["Title"] = "Game_Story13";
    Layout = "Game_index";
    string Game_Story_sec2_1 = "Intel i3-4170 @ 3.7Ghz OR Intel i5 750 @ 2.67Ghz";
    string Game_Story_sec2_2 = "Intel i7-3820 @ 3.6Ghz";
}
@foreach (var item in Model)
{
    if (item.Game_number == 13)
    {
        <section id="Game_Story_title">
            <div class="container text-warning">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-12">
                                <h1>@Html.DisplayFor(modelItem => item.Game_name)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmax">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story13-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story13/@img"></div>
                                    }
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white swiper-opacity"></div>
                                <div class="swiper-button-prev swiper-button-white swiper-opacity"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmin">
            <div class="container ">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story13-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story13/@img"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Initialize Swiper -->
        <script>
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 8,
                slidesPerView: 3,
                loop: true,
                freeMode: true,
                loopedSlides: 4, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 8,
                loop: true,
                loopedSlides: 4, //looped slides should be the same
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                thumbs: {
                    swiper: galleryThumbs,
                },
            });
        </script>
        <section id="Game_Story_sec1">
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-8 margin10px0">
                                <h3 class="text-warning">遊戲介紹</h3>
                                <h5>在世界上最盛大的汽車嘉年華上，不斷變化的賽季改變著一切。獨自挑戰或與其他玩家一起組隊，在一個共享開放世界中探索美不勝收、充滿歷史風情的的英國。收集、改裝和駕駛超過 450 輛車。盡情競速、表演特技、創造和探索：選擇您專屬的方式來成為 Horizon 中的超級巨星。</h5>
                            </div>
                            <div class="col-md-4 margin10px0">
                                <video autoplay muted loop id="Game_Story_mp4" class="margin10px0">
                                    <source src="~/img/Game_Story/Game_Story13/Game_Story13-1.mp4" />
                                    您的瀏覽器不支援此影音播放模式!
                                </video>
                                <h6>遊戲類型：@Html.DisplayFor(modelItem => item.Game_category)</h6>
                                <h6>發行日期：@Html.DisplayFor(modelItem => item.Listing_date)</h6>
                            </div>
                            <div class="row h3_color margin10px0" style="width:100%">
                                <div class="col-md-8">
                                    <h3>購買：@Html.DisplayFor(modelItem => item.Game_name)</h3>
                                </div>
                                <div class="col-md-4">
                                    <span>@Html.DisplayFor(modelItem => item.Unit_price)</span>
                                    <form asp-controller="cart" asp-action="stroyaddcart">

                                        <input type="hidden" name="Game_number" value="@item.Game_number">
                                        <div>
                                            <input placeholder="購買數量" name="quantity" value="" style="width:100px">
                                            <button type="submit" style="border: none" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="購物車" data-content="點擊圖片加入購物車">
                                                <img src="~/img/Game_index/cart.png" />
                                            </button>
                                        </div>
                                    </form>
                                    <a class="btn btn-success" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Game_number">直接購買</a>
                                </div>
                            </div>
                            <div class="col-md-12 margin10px0">
                                <h3 class="text-warning">關於此遊戲</h3>
                                <h6>
                                    在世界上最盛大的汽車嘉年華上，不斷變化的賽季改變著一切。獨自挑戰或與其他玩家一起組隊，在一個共享開放世界中探索美不勝收、充滿歷史風情的的英國。收集、改裝和駕駛超過 450 輛車。盡情競速、表演特技、創造和探索：選擇您專屬的方式來成為 Horizon 中的超級巨星。
                                </h6><br>
                                <p><img src="~/img/Game_Story/Game_Story13/Game_Story13-1.gif" class="margin10px0"></p><br>
                                <h6>收集超過 450 輛車</h6>
                                <h6>盡情享受包含超過 100 個授權車廠的史上最龐大和最多元化 Horizon 車輛名單。</h6><br>
                                <p><img src="~/img/Game_Story/Game_Story13/Game_Story13-2.gif" class="margin10px0"></p><br>
                                <h6>盡情競速、表演特技、創造和探索。</h6>
                                <h6>在全新開放式劇情中，您做的任何事情都能推進您的遊戲進度。</h6><br>
                                <p><img src="~/img/Game_Story/Game_Story13/Game_Story13-3.gif" class="margin10px0"></p><br>
                                <h6>探索開放世界</h6>
                                 <h6>現實玩家將遍布在您的世界中。所有遊戲玩家都能在同一時間體驗時間、天氣和四季的變化。</h6><br>
                                <p><img src="~/img/Game_Story/Game_Story13/Game_Story13-4.gif" class="margin10px0"></p><br>
                                <h6>探索美不勝收、充滿歷史風情的英國</h6>
                                <h6>體驗您從未見過的英國。在壯麗的原生 4K 和 HDR 中探索湖泊、山谷、城堡和美不勝收的風景。</h6><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section id="Game_Story_sec2">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="col-md-12 margin10px0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-info" data-toggle="tab" href="#Windows">Windows</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Windows">
                            <div class="row">
                                <div class="col-md-6 margin10px0">
                                    <h6>最低配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10 version 15063.0 or higher</h6>
                                    <h6>處理器: @Game_Story_sec2_1</h6>
                                    <h6>記憶體: 4 GB 記憶體</h6>
                                    <h6>顯示卡: NVidia 650TI OR AMD R7 250x</h6>
                                    <h6>DirectX: 版本：12</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 80 GB 可用空間</h6>
                                </div>
                                <div class="col-md-6 margin10px0">
                                    <h6>建議配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10 version 15063.0 or higher</h6>
                                    <h6>處理器: @Game_Story_sec2_2</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>顯示卡: NVidia GTX 970 OR NVidia GTX 1060 3GB OR AMD R9 290x OR AMD RX 470</h6>
                                    <h6>DirectX: 版本：12</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 100 GB 可用空間</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Game_Story_sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row container">
                    <div class="col-md-12 margin10px0">
                        <h3 class="text-warning">精彩影片</h3>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/GyDN-gvjyJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/h-jHIIJFt2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/UN2Id5hCwCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/FPp2rSEsMDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>