
@using Microsoft.AspNetCore.Identity
@using WebApplication3.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 

    var user = UserManager.GetUserName(User);
    var userid = UserManager.GetUserId(User);
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>game</title>
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

    <link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


    @*<title>CodePen - Side Shopping Cart</title>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/HTML/index.css" />*@

    @*Game_index.css*@
    <link rel=stylesheet type="text/css" href="/css/Game_index.css?v=1790">

    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeConsoleRunner-d8236034cc3508e70b0763f2575a8bb5850f9aea541206ce56704c013047d712.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRuntimeErrors-4f205f2c14e769b448bcf477de2938c681660d5038bc464e3700256713ebe261.js"></script>


    @*Game_Story.css*@
    <link rel=stylesheet type="text/css" href="~/css/Game_Story.css?v=180">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script type="text/javascript">
        function addcart() {
            alert("已加入")
        };
    </script>

    @*Game_Story_Comment.css*@
    @*<link rel=stylesheet type="text/css" href="~/css/Game_Story_Comment.css">*@
    @* jquery *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <div id="div1" class="container-fluid ">
            <nav class="navbar navbar-expand-xl bg-dark  navbar-light ">
                <a class="navbar-brand" href="#"></a>
                <a class="nav-link" asp-area="" asp-controller="Game_mallView" asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="回首頁">
                    <img src="~/img/Game_index/Game_background.jpg" style="width:100px; height:60px ;border-radius: 20px;">
                </a>
                <button class="navbar-toggler bg-success" style="border-radius: 20px;" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul id="one" class="navbar-nav flex-grow-1 ">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Game_mallView" asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="回首頁">首頁</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="關於我們" asp-controller="Game_mallView" asp-action="About">網站介紹</a></li>
                        @*<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>*@
                    </ul>
                        @*遊戲分類*@
                <ul id="ultab" class="nav nav-tabs">
                    <li class="nav-item ">
                        <a class="nav-link active fw" @*asp-controller="Game_mallView" asp-action="Index"*@ data-toggle="tab"
                           href="#swVideo">
                            所有遊戲
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter">
                            休閒
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter2">
                            策略
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter3">
                            冒險
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter4">
                            動作
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter5">
                            模擬
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter6">
                            競速
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw" data-toggle="tab"
                           href="#swCharacter7">
                           Top10
                        </a>
                    </li>
                </ul>
                    
                    @*會員 購物車*@
                    <ul class="navbar-nav flex-grow-2 d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial.cshtml" />
                        @if (user == "abc@gmail.com")
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-link  text-white btn-primary " asp-area="" asp-controller="Game_mall" asp-action="index">後台管理</a>
                            </li>
                        }
                        @*<a asp-action="BuyList" class="btn btn-success" asp-route-User="@user">購物車</a>*@

                        @if (ViewBag.cart != null)
                        {
                            <button class="btn btn-success flex-sm-row-reverse" style="border-radius: 20px; margin:4px ;border:solid;" data-toggle="modal" data-target="#myModal">
                                購物車 (@ViewBag.count) @ViewBag.total 元
                            </button>



                            <div class="modal fade text-center" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header container badge-danger">

                                            <h3>目前購物車(@ViewBag.count) @ViewBag.total 元</h3>


                                            <button class="btn btn-danger" data-dismiss="modal">
                                                關閉視窗
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                @foreach (var item in ViewBag.cart)
                                                {<div>
                                                        @item.Product.Game_name (@item.Quantity)
                                                        <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Game_number" onclick="return confirm('確定刪除 @item.Product.Game_name ?')"><img src="~/img/Game_index/close.png"/></a>
                                                    </div>

                                                }
                                            </div>
                                            @*<li class="dropdown-item ">@item.Product.Game_name    (@item.Quantity)<a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Game_number" onclick="return confirm('確定刪除')"><img src="~/img/close.png" /></a>*@
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" asp-controller="cart" asp-action="index">結帳</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        @*<div class="dropdown ">
                            @if (ViewBag.cart != null)
                            {
                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    目前購物車(@ViewBag.count)@ViewBag.total 元
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>


                                        @foreach (var item in ViewBag.cart)
                                        {

                                            <li class="dropdown-item ">@item.Product.Game_name    (@item.Quantity)<a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Game_number" onclick="return confirm('確定刪除')"><img src="~/img/close.png" /></a></li>

                                        }
                                        <div id="check">
                                            <a asp-controller="cart" asp-action="index"><li class="btn btn-danger">結帳</li></a>
                                        </div>
                                    </ul>
                                </div>

                            }


                        </div>*@
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white text-center" >     
            <h3> GameWorld-&copy;2021  <a asp-area="" asp-controller="Game_mallView" asp-action="index">Home</a></h3>
    </footer>    
    @RenderSection("Scripts", required: false)

</body>
</html>


